/* ANCHOR Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /Reset */

/* ANCHOR Common */
.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
/* /Common */

/* ANCHOR Columns */
.col-xs-auto {width: 0; flex-grow: 1;}
.col-xs-1 {width: calc((100% / 12) * 1);}
.col-xs-2 {width: calc((100% / 12) * 2);}
.col-xs-3 {width: calc((100% / 12) * 3);}
.col-xs-4 {width: calc((100% / 12) * 4);}
.col-xs-5 {width: calc((100% / 12) * 5);}
.col-xs-6 {width: calc((100% / 12) * 6);}
.col-xs-7 {width: calc((100% / 12) * 7);}
.col-xs-8 {width: calc((100% / 12) * 8);}
.col-xs-9 {width: calc((100% / 12) * 9);}
.col-xs-10 {width: calc((100% / 12) * 10);}
.col-xs-11 {width: calc((100% / 12) * 11);}
.col-xs-12 {width: calc((100% / 12) * 12);}
/* Columns */

/* ANCHOR Offset */
.ml-xs-auto {margin-left: auto;}
.ml-xs-1 {margin-left: calc((100% / 12) * 1);}
.ml-xs-2 {margin-left: calc((100% / 12) * 2);}
.ml-xs-3 {margin-left: calc((100% / 12) * 3);}
.ml-xs-4 {margin-left: calc((100% / 12) * 4);}
.ml-xs-5 {margin-left: calc((100% / 12) * 5);}
.ml-xs-6 {margin-left: calc((100% / 12) * 6);}
.ml-xs-7 {margin-left: calc((100% / 12) * 7);}
.ml-xs-8 {margin-left: calc((100% / 12) * 8);}
.ml-xs-9 {margin-left: calc((100% / 12) * 9);}
.ml-xs-10 {margin-left: calc((100% / 12) * 10);}
.ml-xs-11 {margin-left: calc((100% / 12) * 11);}
.ml-xs-12 {margin-left: calc((100% / 12) * 12);}
/* /Offset */