.container {
    padding: 10px;
    background-color: #CAF0F8;
    outline: 2px solid #90E0EF;
}

.row {
    margin: 10px 0;
    padding: 10px;
}

[class*="col-"] {
    display: inline;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}



.container > .row:first-child {
    margin-top: 0;
}

.container > .row:last-child,
.container > .row > [class*="col-"] > .row:last-child {
    margin-bottom: 0;
}

.container > .row {
    background-color: #ADE8F4;
    outline: 2px solid #48CAE4;
}

.container > .row > [class*="col-"] {
    background-color: #90E0EF;
    outline: 2px solid #00B4D8;
}

.container > .row > [class*="col-"] > .row {
    background-color: #48CAE4;
    outline: 2px solid #0096C7;
}

.container > .row > [class*="col-"] > .row > [class*="col-"] {
    background-color: #00B4D8;
    outline: 2px solid #0077B6;
}

.col-xs-auto::before {content: "col-xs-auto";}
.col-xs-1::before {content: "col-xs-1";}
.col-xs-2::before {content: "col-xs-2";}
.col-xs-3::before {content: "col-xs-3";}
.col-xs-4::before {content: "col-xs-4";}
.col-xs-5::before {content: "col-xs-5";}
.col-xs-6::before {content: "col-xs-6";}
.col-xs-7::before {content: "col-xs-7";}
.col-xs-8::before {content: "col-xs-8";}
.col-xs-9::before {content: "col-xs-9";}
.col-xs-10::before {content: "col-xs-10";}
.col-xs-11::before {content: "col-xs-11";}
.col-xs-12::before {content: "col-xs-12";}